<% layout('layouts/boilerplate')%>
<section>
    <div class="container">
      <div class="main-header text-center d-flex flex-column justify-content-center align-item-center" style="height: 50vh;">
        <h1>Welcome to <span>Mentor Management System</span></h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit</p>
      </div>
    </div>
  </section>