<% layout('layouts/boilerplate')%>

<div class="container">
    <h1>Contact Your Mentor</h1>
    <form method="POST" id="contact-form" action="/students/contact">
        <div class="mb-3">
            <input type="text" class="form-control" name="subject" placeholder="Enter Subject">
        </div>
        <div class="mb-3">
            <textarea name="message" id="" cols="10" rows="5" class="form-control" placeholder="Enter Message"></textarea>
        </div>
        <button type="submit" class="btn btn-primary mb-3">Submit</button>
    </form>
</div>