<% layout('layouts/boilerplate')%>

<section>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <h3>Computer Science Engineering</h3>
              <p>Want to know about your faculties details, then click below <i class="fa fa-arrow-down" aria-hidden="true"></i></p>
              <div class="btn-group" role="group">
                <a href="faculty.html" class="btn btn-outline-info">1st Year</a>
                <a href="faculty.html" class="btn btn-outline-info">2nd Year</a>
                <a href="faculty.html" class="btn btn-outline-info">3rd Year</a>
                <a href="faculty.html" class="btn btn-outline-info">4th Year</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <h3>Mechanical Engineering</h3>
              <p>Want to know about your faculties details, then click below <i class="fa fa-arrow-down" aria-hidden="true"></i></p>
              <div class="btn-group" role="group">
                <a href="faculty.html" class="btn btn-outline-info">1st Year</a>
                <a href="faculty.html" class="btn btn-outline-info">2nd Year</a>
                <a href="faculty.html" class="btn btn-outline-info">3rd Year</a>
                <a href="faculty.html" class="btn btn-outline-info">4th Year</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <h3>Electrical Engineering</h3>
              <p>Want to know about your faculties details, then click below <i class="fa fa-arrow-down" aria-hidden="true"></i></p>
              <div class="btn-group" role="group">
                <a href="faculty.html" class="btn btn-outline-info">1st Year</a>
                <a href="faculty.html" class="btn btn-outline-info">2nd Year</a>
                <a href="faculty.html" class="btn btn-outline-info">3rd Year</a>
                <a href="faculty.html" class="btn btn-outline-info">4th Year</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <h3>Civil Engineering</h3>
              <p>Want to know about your faculties details, then click below <i class="fa fa-arrow-down" aria-hidden="true"></i></p>
              <div class="btn-group" role="group">
                <a href="faculty.html" class="btn btn-outline-info">1st Year</a>
                <a href="faculty.html" class="btn btn-outline-info">2nd Year</a>
                <a href="faculty.html" class="btn btn-outline-info">3rd Year</a>
                <a href="faculty.html" class="btn btn-outline-info">4th Year</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <h3>Chemical Engineering</h3>
              <p>Want to know about your faculties details, then click below <i class="fa fa-arrow-down" aria-hidden="true"></i></p>
              <div class="btn-group" role="group">
                <a href="faculty.html" class="btn btn-outline-info">1st Year</a>
                <a href="faculty.html" class="btn btn-outline-info">2nd Year</a>
                <a href="faculty.html" class="btn btn-outline-info">3rd Year</a>
                <a href="faculty.html" class="btn btn-outline-info">4th Year</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <h3>Electrical and ELectronics Engineering</h3>
              <p>Want to know about your faculties details, then click below <i class="fa fa-arrow-down" aria-hidden="true"></i></p>
              <div class="btn-group" role="group">
                <a href="faculty.html" class="btn btn-outline-info">1st Year</a>
                <a href="faculty.html" class="btn btn-outline-info">2nd Year</a>
                <a href="faculty.html" class="btn btn-outline-info">3rd Year</a>
                <a href="faculty.html" class="btn btn-outline-info">4th Year</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <h3>ELectronics Telecommunication Engineering</h3>
              <p>Want to know about your faculties details, then click below <i class="fa fa-arrow-down" aria-hidden="true"></i></p>
              <div class="btn-group" role="group">
                <a href="faculty.html" class="btn btn-outline-info">1st Year</a>
                <a href="faculty.html" class="btn btn-outline-info">2nd Year</a>
                <a href="faculty.html" class="btn btn-outline-info">3rd Year</a>
                <a href="faculty.html" class="btn btn-outline-info">4th Year</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>