<% layout('layouts/boilerplate')%>

<section>
    <div class="image">
        <img src="img/lab.jpeg" class="img-fluid">
    </div>
    <div class="container">
        <div class="main-container">
            <h1 class="heading">Jajatee Nandinee Sahoo</h1>
            <ul>
                <li><span>Registration Number:</span>1801227225</li>
                <li><span>Roll Number:</span>1801227225</li>
                <li><span>Year:</span>3</li>
                <li><span>Branch:</span>Computer Science Engineering</li>
                <li><span>Group:</span>1</li>
                <li><span>Phone Number:</span>9836276365</li>
                <li><span>Email:</span>johndoe@gmail.com</li>
                <li><span>Address:</span>
                <ul>
                    <li><span>Street Number: </span>1342/8262</li>
                    <li><span>Landmark: </span>lorem Ipsum</li>
                    <li><span>City: </span>Bhubaneswar</li>
                    <li><span>State: </span>Odisha</li>
                </ul>
                </li>
            </ul>
        </div>
    </div>
</section>