.navbar {
    margin: 0.2rem 4rem;
}

.nav-link, .navbar-brand {
    color: #ff8882;
}

.nav-link:hover, .navbar-brand:hover {
    color: #ff8882;
    text-decoration: underline;
}

.navbar-brand {
    font-size: 30px;
}

.nav-link {
    font-size: 20px;
}

.footer-body {
    color: #e4aa9d;
}